@use "resource";

:root{
    --big_text:65px;
    --carusel_width:90%;
    --carusel_controller:150px;
    --sale_cards_width:250px;
    --sale_cards_height:350px;
    --sale_cards_rows:2;
    --sale_cards_columns:4;
    --carusel_align:0;
    --home_banner_text_side:10px;
    --home_banner_height:75vh;
    --home_banner_main_text:45px;
    --home_banner_mini_text:15px;
    --big_wrapper_banner_bg: 100% 100%;
    --latest_news_info_width: 350px;
    --mobile_bottom_show:none;
    --big_wrapper_banner_show:flex;
    --big_wrapper_height:120vh;
    --carusel_mobile:none;
    --mobile_items_nav_show:none;
    --items_nav_show:flex;
    --home_banner_direction:row;
    --home_banner_img_bottom:150px;
    --carusel_special_height:360px;
    --sale_cards_gap:25px;
    --mobile_items_nav_text_name:24px;
    --home_banner_mini_text_show:block;
}

@media (max-width:1050px) {
    :root{
        --carusel_width:100%;
        --sale_cards_rows:auto;
        --sale_cards_columns:3;
    }
}

@media (max-width:950px){
    :root{
        --sale_cards_width:300px;
        --sale_cards_height:400px;
        --sale_cards_rows:auto;
        --sale_cards_columns:2; 
        --carusel_width:100%;
        --carusel_align:100px;
        --home_banner_text_side:20px;
        --carusel_controller:130px;
        --big_wrapper_banner_bg: 110% 100%;
        --carusel_special_b_name:35px;
    }
}

@media (max-width:700px) {
    :root{
        --home_banner_height:50vh;
        --home_banner_main_text:30px;
        --home_banner_mini_text:15px;
        --big_wrapper_banner_bg: 130% 100%;
        --latest_news_info_width: 270px;
    }
}

@media (max-width: 800px) {
    :root{
        --mobile_bottom_show:flex;
    }
}

@media (max-width: 600px) {
    :root{
        --sale_cards_width:240px;
        --sale_cards_height:350px;
        --big_wrapper_banner_bg: 150% 100%;
    }
}

@media (max-width: 570px) {
    :root{
        --big_wrapper_banner_show:none;
        --big_wrapper_height:60vh;
        --carusel_mobile:block;
        --mobile_items_nav_show:flex;
        --items_nav_show:none;
    }
}

@media (max-width:530px) {
    :root{
        --sale_cards_width:180px;
        --sale_cards_height:330px;
    --home_banner_main_text:23px;
    --home_banner_mini_text:20px;
    --home_banner_height: 35vh;
    }
}

@media (max-width:490px){
    :root{
    --home_banner_height: 30vh;
    --home_banner_main_text:18px;
    --home_banner_mini_text:15px;
    --home_banner_img_bottom:80px;
    --carusel_special_height:300px;
    }
}
@media (max-width:410px){
    :root{
        --big_wrapper_height:50vh;
        --sale_cards_gap:15px;
        --sale_cards_width:160px;
        --sale_cards_height:310px;
    }
}
@media (max-width:350px) {
    :root{
        --big_wrapper_height:45vh;
        --carusel_special_height:270px;
        --mobile_items_nav_text_name:20px;
        --mobile_items_nav_text_expand:20px;
        --carusel_special_b_name:28px;
        --sale_cards_gap:10px;
        --sale_cards_width:135px;
        --sale_cards_height:260px;
        --home_banner_mini_text_show:none;
    }
   
}
.big_wrapper {
    position: relative;
    height: var(--big_wrapper_height,120vh);
    .banner {
        height: 70%;
        width: 100%;
        background-image: url("../images/Promotion Image.jpg");
        background-position:initial;
        background-repeat: no-repeat;
        background-size: var(--big_wrapper_banner_bg,wrap);
        display: var(--big_wrapper_banner_show,flex);
        align-items: center;
        .text {
            font-size: var(--big_text,65%);
            margin: 25px;
            color: white;
            width: 550px;
            height: auto;
        }
    }
    .carusel {
        display: flex;
        justify-content: center;
        width: var(--carusel_width);
        margin: auto;
        position: absolute;
        bottom:0;
        left: 0;
        right: 0;

        .rec-arrow{
            border:none;
            background-color: none;
            color:black;
            width:20px !important;
            position:absolute;
        }
        .rec-arrow-left{
            top:var(--carusel_controller,140px);
            bottom:0;
            left:0;
            z-index: 10;
        }
        
        .rec-arrow-right{
            top:var(--carusel_controller,140px);
            bottom:0;
            right:0;
           z-index: 10;
        }
        .carusel_card {
            position: relative;
            cursor: pointer;
            .name {
                position: absolute;
                color: resource.$dark_blue-color;
                top: 10px;
                left: 40px;
                max-width: 200px;
                font-weight: bold;
                font-size: 20px;
            }
            .p {
                position: absolute;
                font-weight: bold !important;
                bottom: 10px;
                right: 25px;
                color: resource.$blue-color;
                font-size: 22px;
                font-weight: bold;
            }
            .b_name{
                font-size: var(--carusel_special_b_name,35px); 
                position: absolute;
                color: white;
                top: 60px;
                left: 40px;
                max-width: 300px;
                font-weight: bold;
            }
            .tog{
                position: absolute;
                bottom: 30px;
                left: 40px;
                display: flex;
                justify-content: space-between;
                width: 100px;
                align-items: center;
                font-weight: bold;
                .old_price {
                    font-size: 14px;
                    text-decoration: line-through;
                    color:grey;
                }
                .promo {
                    color: resource.$red-color;
                    font-size: 16px ;
                    font-weight: bold;
                }

                
                .s {
                    color:resource.$dark_blue-color;
                    font-size:25px;
                    padding:10px;
                    margin:10px;
                    background-color: white;
                    border-radius: 15px;
                }

                .dot_wrap{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height:20px;
                    justify-content: space-between;
                    .dot{
                        width:5px;
                        height:5px;
                        background-color: white;
                        border-radius: 50%;
                    }
                }

            }
            
        
        }
        .img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border: 1px solid grey;
        }
        .time_img{
            width:620px;
            max-width:100%;
            height:var(--carusel_special_height,360px);
        }
    }
    .special{
        display: var(--carusel_mobile,none);
    }
}

.items_nav {
        margin-top:10px;
        position: relative;
        display: var(--items_nav_show,flex);
        justify-content: space-around;
        align-items: center;
        width: 460px;
        height: 50px;
        margin:auto;
        margin-bottom: 25px;
        .items {
            display: flex;
            list-style-type: none;
            margin: auto;
            .item {
                 display: block;
                    width:100px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                .a {
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    color:black;
                    cursor: pointer;
                    font-size: 18px;
                }
            }
        }
        .slider {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 4px;
            background: resource.$blue-color;
            transition: .4s;
        }
}
.sale_cards{
    display:grid;
    width:80%;
    margin:auto;
    justify-content: center;
    grid-template-columns: repeat(var(--sale_cards_columns,3),1fr);
    grid-template-rows: repeat(var(--sale_cards_rows,3),1fr);
    grid-gap: var(--sale_cards_gap,25px);

    .card{
        width:var(--sale_cards_width,250px);
        height:var(--sale_cards_height,350px);
        border-radius: 5px;
        border: solid 2px rgb(202, 202, 202);

        .view{
            position:relative;
            overflow: hidden;
          
            .choose {
                transition: 500ms ease-out;
                display: flex;
                z-index:-3;
                position:absolute;
                top:0;
                right:0;
                bottom:500px;
                left:0;
                align-items: center;
                justify-content: space-evenly;
                background-color: rgba(255, 255, 255, 0.771);
                width:90%;
                height: 90%;
                margin:auto;

                .icon{
                    transition: 500ms ease-in;
                    cursor: pointer;
                }

                .icon:hover{
                    transform: scale(1.2);
                }
            }

           


            .new{
                position:absolute;
                top:0;
                left:0;
                background-color: resource.$red-color;
                border-top-left-radius: 5px;
                color:white;
                font-size:15px;
                padding:10px;
            }

            .picture{
                width: 100%;
              max-width: 100%;
              height: auto;
              border-top-left-radius: 5px;
            }
        }

        .view:hover {
            .choose{
                bottom:0;
                z-index:2;
                img{
                    cursor: pointer;
                    width:100%;
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .info{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .name{
                display: flex;
                padding:0;
                margin:0;
                color:resource.$dark_blue-color;
                font-size:18px;
                font-weight:bold;
                justify-content: center;
            }

            .stars{
                margin-top: 6px;
                width:60%;
                max-width: 100%;
                height: auto;
            }

            .costs{
                margin-top: 6px;
                width:90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                .r_cost{
                    color: resource.$blue-color;
                    font-size: 18px;
                }

                .prev_cost{
                    color:grey;
                    font-size:13px;
                    text-decoration: line-through;
                }

                .percent{
                    color:resource.$red-color;
                    font-size: 15px;
                }

            }

        }

    }
}

.load_more{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
    cursor: pointer;
    
    .Link {
        color:resource.$blue-color;
        padding:1px;
        margin:1px;
        
    }
    .link_under{
        transition: 200ms ease-in;
        width:50px;
        height:4px;
        background-color:resource.$blue-color;
        padding:1px;
        margin:1px;
    }
}

.load_more:hover{
    .link_under{
        width:200px;
        height:4px;
        background-color:resource.$blue-color;
        padding:1px;
        margin:1px;
    }
}
.home_banner{
    margin-top:50px;
    display: flex;
    width:100%;
    height:var(--home_banner_height,75vh);
    flex-direction:row;
    background-color: resource.$blue-color;
    align-items: center;
    justify-content: space-evenly;
    color:white;

    .text_side{
        width: 500px;
        padding-left: var(--home_banner_text_side,10px);
        .main_text{
            font-size: var(--home_banner_main_text,45px);
            font-weight: bold;
        }

        .mini_text{
            font-size: var(--home_banner_mini_text,25px);
            display: var(--home_banner_mini_text_show,block);
            font-weight: 300;
        }
        .wrap_them{

            .shop_now {
                font-size: 25px;
                font-weight: bold;
            cursor: pointer;

            }
            .shop_now::after {
                content: "";
                display: block;
                /* margin: 0 auto; */
                width: 70px;
                padding-top: 5px;
                border-bottom: 4px solid white;
                transition: 500ms ease-in;
              }
         
        }
        .wrap_them:hover{
            .shop_now::after{
                width:150px;
            }
        }
        
    }
    .image_side{
        width:600px;
        margin-bottom: var(--home_banner_img_bottom,150px);
        .image{
            width: 100%;
            max-width: 100%;
            height: auto;
        }

    }
}
.additional_info{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding:10px;
        width:200px;
        
        .name{
            font-size: 18px;
            font-weight: bold;
            padding:20px 0 5px 0;
            margin:0;
        }
        p{
            padding:5px 0 0px 0;
            margin:0;
            font-size:13px;
        }
    }

}
.News{
    margin-top: 60px;
}
.latest_news{

    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;

    .info{
        display: flex;
        flex-direction: row;
        padding:10px;
        justify-content: space-between;
        width:350px;
        align-items: center;
        .logo{
            padding: 10px;
        }
        .text{
            display: flex;
            flex-direction: column;
            .date{
                color:grey;
                font-size: 16px;
                padding:0;
            margin:0;
            }
            .name{
                color:black;
                font-size:20px;
                font-weight:bold;
                padding:5px 0 5px 0;
            margin:0;
            }
            .text{
                color:black;
                font-size:13px;
                padding:0;
            margin:0;
            }

        }

    }
}
.featured_items{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    .info{
        display: flex;
        justify-content: space-between;
        width:350px;

        .logo{
            width:155px;
            height:155px;
        }

        .text{
            width:180px;
            .name{
                font-size: 20px;
                font-weight: bold;
                padding:10px 0 10px 0;
                margin:0;
            }
        
            .stars{
                width:50%;
                max-width: 100%;
                height:auto;
                padding: 0;
                margin: 0;
            }

            .cost{
                display: flex;
                align-items: center;
                padding: 10px 0 10px 0;
                .r_cost{
                    color:resource.$red-color;
                    font-size: 18px;
                    padding-right: 10px;
                }

                .d_cost{
                    color:grey;
                    text-decoration: line-through;
                    font-size: 16px;
                }
            }
        }
    }
}
.search{
    margin:auto !important;
    width:400px !important;
    margin-top: 60px !important;
    .input{
        border: 1px solid resource.$blue-color;
    }
    .submit{
        color:white;
        background-color: resource.$blue-color;
    }
}
.mobile_bottom{
    display: var(--mobile_bottom_show,none);
    padding:10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom:0;
    right:0;
    left:0;
    z-index: 40;
    
  
    .options{
      display: flex;
      flex-direction: column;
      align-items: center;
        cursor:pointer;
        

      .text{
        color:grey;
        font-size: 15px;
        transition: 200ms ease-in;
      }
    }
    
    .home{
        .text{
          color:resource.$blue-color;
        }
      }
}
  .mobile_items_nav{
      padding:25px;
      display: var(--mobile_items_nav_show,flex);
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: auto;
      width: 100%;

    .up_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text_name{
            color:resource.$dark_blue-color;
            font-size: var(--mobile_items_nav_text_name,24px);
        }
        .text_expand{
            color:resource.$blue-color;
            font-size: var(--mobile_items_nav_text_name,24px);
        }
    }

    .down_nav{
        margin-top:20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height:auto;
        justify-content: space-between;
        width:100%;

        .icon_wrap{
            border: 2px rgb(207, 207, 207) solid;
            transition: 200ms ease-in;
            border-radius: 50%;
            padding:25px;
            cursor: pointer;

        }

        .icon_wrap:hover{
            border: 2px solid resource.$black-color;
            box-shadow: 0 0 8px 8px rgb(0, 140, 255) ;
        }
    }

}